<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/cabecalho">
<meta charset="ISO-8859-1">
<title>Permutas</title>
</head>
<body>
<!-- Importa o menu padrão do sistema -->
<div th:insert="layout/menu"></div>

<!-- Conteúdo Principal -->
<div class="container flex-grow-1 py-5">
    <h3 class="mb-4">Permutas </h3>
    
	<!-- Mensagem de Orientação -->
	<div class="alert alert-info" role="alert">
		<h1 class="text-primary">Bem-vindo ao Portal de Permutas da FAETEC!</h1>
		<p class="mt-3">Seja bem-vindo ao nosso espaço dedicado à <strong>troca de unidades entre servidores</strong> da FAETEC!</p>
		<p>Sabemos que a mobilidade é essencial para o bem-estar e a qualidade de vida de cada profissional. 
		 Aqui, você pode encontrar colegas interessados em realizar permutas, facilitando a troca de local de trabalho de maneira 
		 <strong>transparente e eficiente</strong>.</p>
		 <p>Nosso objetivo é conectar servidores que desejam trocar de unidade, proporcionando mais <strong>comodidade e satisfação</strong> no ambiente profissional.</p>
		 <p>Explore as oportunidades, encontre um parceiro de permuta e dê um novo passo em sua jornada na FAETEC!</p>
		 <p class="fw-bold text-success">Boa sorte e conte conosco! 🚀</p>
	</div>



</div>





<!-- Importa o rodape padrão do sistema -->
<div th:insert="layout/rodape"></div>
</body>
</html>

